numpy<1.24
sk-video
ffmpeg
scipy
moviepy
opencv-python
keras==2.11.0
tensorflow==2.11.0
zarr
albumentations
h5py
jiwer
scipy
editdistance
flask
fuzzywuzzy
dvc
dvc[s3]
mediapipe==0.9.1.0